* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100vw;
  border: 0px solid green;
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    border: 0px solid red;
  }
}

// Color variables

//Backgrounds
$bgdColor: #131921;
$bgdColor1: #262b40;
$bgdColor2: #3b425d;
$bgdColor3: #fde0d1;
$bgdColor4: #f9c647;
$bgdColor5: #f5eb00;
$bgdColor6: #f8f8f8;
$bgdColor7: #f2f2f2;
$bgdColor8: #ffffff;
$bgdColor9: #ff4747;
$bgdColor10: #eaeded;
$bgdColor11: #282a35;
$bgdColor12: #6f7e0d;
$bgdColor13: #fef7f1;
$bgdColor14: #f3f4e8;

$paleBrown: #987654;
$darkBrown: #5c4033;
$beigeColor: #f5f5dc;
$tanColor: #d2b48c;
$chocolateColor: #d2691e;
//Borders
$brdrColor: #e1b000;
$brdrColor1: #f5f5f5;
$brdrColor2: #e8e8e8;

//Text
$txtColor: #ffffff;
$txtColor1: #cccccc;
$txtColor2: #dddddd;
$txtColor3: #399bea;
$txtColor4: #126f8a;
$txtColor5: #ed8d00;
$txtColor6: #5d007c;
$txtColor7: #ba1051;

// 5 Column per row styling
@media all and (min-width: 1200px) {
  #navigation-menu {
    display: flex;
    width: 100%;
    height: 5.7vw;
    padding: 0 15vw 0 16.5vw;
    align-items: center;
    justify-content: space-between;
    background-color: $bgdColor12;
    border-bottom: 0vw solid orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .navlogo {
      display: flex;
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 1.85vw;
      font-weight: 600;
      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2vw;
        height: 100%;
        padding-right: 1vw;
      }
    }
    .navlogo:hover {
      color: $txtColor5;
      border-radius: 0.2vw;
    }
    .navlist {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      padding-right: 1.75vw;
      & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 0 0 0vw;
        margin: 0 0 0 2.5vw;
        color: white;
        font-size: 1.1vw;
        font-weight: 500;
        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.75vw;
        }
      }
      & a:hover {
        color: $txtColor5;
      }
    }
  }

  #navigation-filter {
    display: flex;
    align-items: center;
    height: 2.9vw;
    width: 100%;
    background-color: $bgdColor13;
    position: fixed;
    top: 5.6vw;
    padding: 0 16.5vw;
    left: 0;
    box-shadow: 0 0 0.6vw grey;
    z-index: 3;
    .navfilter {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        text-decoration: none;
        margin: 0 2vw 0 0vw;
        padding: 0 0;
        color: white;
        font-size: 0.9vw;
        font-weight: 700;
        color: black;
        position: relative;
      }
      & a:hover::after {
        content: "";
        display: flex;
        justify-content: center;
        border-bottom: 2px $bgdColor12 solid;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20%;
        left: 0;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 9vw;
    padding-top: 0.85vw;
    position: relative;
    & h1 {
      display: flex;
      width: 67%;
      margin-bottom: 1vw;
    }
    .cart {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 67%;
      &__container {
        display: flex;
        flex-direction: column;
        width: 65%;
        border-radius: 0.4vw;
        & .h2 {
          display: flex;
          align-items: center;
          width: 100%;
          height: 2.7vw;
          padding-left: 2.5vw;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.2vw;
          background-color: $bgdColor13;
          font-size: 0.75vw;
          font-weight: 600;
          margin-bottom: 0.3vw;
        }
        &__topic {
          display: flex;
          width: 100%;
          height: 11vw;
          margin: 1vw 0 1vw 0;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.4vw;
          & img {
            display: flex;
            width: 20%;
            justify-content: center;
            align-items: center;
            font-size: 5vw;
            padding: 0.1vw;
            border-radius: 0.4vw 0 0 0.4vw;
            object-fit: cover;
          }
          &__infos {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 0.8vw 0 0.8vw 1vw;
            & h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 1.2vw;
              padding-bottom: 0.7vw;
            }
            &__description {
              display: flex;
              font-size: 0.8vw;
              padding-bottom: 0.8vw;
            }
            & div {
              display: flex;
              justify-content: space-between;
              border: solid 0.1vw black;
              width: 22%;
              height: 26%;
              border-radius: 1.5vw;
              .btn-left {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 1vw 0 0 1vw;
                font-weight: 600;
                font-size: 2.5vw;
                padding: 0 0.2vw 0.3vw 0;
              }
              .btn-right {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 0 1vw 1vw 0;
                font-weight: 600;
                font-size: 1.6vw;
                padding: 0.1vw 0 0 0.25vw;
              }
              .topics-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                font-weight: 600;
              }
            }
          }
          &__options {
            display: flex;
            width: 20%;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 0.4vw 0.4vw 1.5vw 0;
            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5vw;
              width: 3.5vw;
              & i {
                display: flex;
                font-size: 2vw;
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
                color: black;
                opacity: 0.55;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 100%;
              color: $txtColor7;
              font-size: 1.3vw;
            }
          }
        }
      }
      &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: fixed;
        top: 20.2%;
        right: 16.8%;
        width: 21%;
        margin: 1vw 0 1vw 0;
        border-radius: 0.4vw;

        &__detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          width: 100%;

          &__sous-total {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 1.1vw;
              font-weight: 600;
              & .span1 {
                display: flex;
                padding: 0.5vw 0 0 0.35vw;
                font-size: 0.72vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 0.92vw;
            }
          }
          &__frais-envoi {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 1vw;
              font-weight: 600;
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 0.8vw;
            }
          }
          &__total-price {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-items: start;
              width: 75%;
              font-size: 1.1vw;
              font-weight: 600;

              & p {
                display: flex;
                font-size: 0.72vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              align-items: center;
              justify-content: end;
              width: 25%;
              font-size: 1vw;
              font-weight: 600;
            }
          }
        }
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 3vw;
          border-radius: 0.3vw;
          border: none;
          background-color: $txtColor7;
          color: white;
          font-size: 0.85vw;
          font-weight: 600;
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3vw;
    background-color: $bgdColor12;
    .icons-container {
      display: flex;
      justify-content: space-between;
      width: 67%;
      padding: 1.5vw 0;
      color: white;
      & i {
        display: flex;
        width: 24%;
        font-size: 1.6vw;
        justify-content: center;
        align-items: center;
      }
      & i:hover {
        color: #399bea;
      }
      & div {
        font-size: 1.5vw;
        font-weight: 200;
        color: $txtColor5;
      }
    }
    .links-container {
      display: flex;
      width: 63%;
      color: $txtColor5;
      font-size: 1vw;
      padding: 1vw 0;
      justify-content: center;
      .left-links {
        display: flex;
        align-items: center;
        width: 35%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: $txtColor5;
        font-size: 1.3vw;
      }
      .right-links {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 40%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  #navigation-menu {
    display: flex;
    width: 100%;
    height: 5.7vw;
    padding: 0 5.5vw 0 5.5vw;
    align-items: center;
    justify-content: space-between;
    background-color: $bgdColor12;
    border-bottom: 0vw solid orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .navlogo {
      display: flex;
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 2.8vw;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.55vw;
      height: 100%;
      padding-right: 1vw;
    }
    .navlogo:hover {
      color: $txtColor5;
      border-radius: 0.2vw;
    }
    .navlist {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      padding-right: 1.75vw;
      & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 0 0 0vw;
        margin: 0 0 0 2.5vw;
        color: white;
        font-weight: 500;
        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.35vw;
        }
      }
      & a:hover {
        color: $txtColor5;
      }
    }
  }
  #navigation-filter {
    display: flex;
    align-items: center;
    height: 2.9vw;
    width: 100%;
    background-color: $bgdColor13;
    position: fixed;
    top: 5.6vw;
    padding: 0 5.5vw;
    left: 0;
    box-shadow: 0 0 0.6vw grey;
    z-index: 3;
    .navfilter {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        text-decoration: none;
        margin: 0 2vw 0 0vw;
        padding: 0 0;
        color: white;
        font-size: 1.25vw;
        font-weight: 700;
        color: black;
        position: relative;
      }

      & a:hover::after {
        content: "";
        display: flex;
        justify-content: center;
        border-bottom: 2px $bgdColor12 solid;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20%;
        left: 0;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 8vw;
    padding-top: 0.85vw;
    position: relative;
    & h1 {
      display: flex;
      width: 67%;
      margin-bottom: 1vw;
    }
    .cart {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 88%;
      &__container {
        display: flex;
        flex-direction: column;
        width: 63%;
        border-radius: 0.4vw;
        & .h2 {
          display: flex;
          align-items: center;
          width: 100%;
          height: 2.7vw;
          padding-left: 2.5vw;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.2vw;
          background-color: $bgdColor13;
          font-size: 1.4vw;
          font-weight: 600;
          margin-bottom: 0.3vw;
        }
        &__topic {
          display: flex;
          width: 100%;
          height: 14vw;
          margin: 0.5vw 0;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.4vw;
          & img {
            display: flex;
            width: 23%;
            justify-content: center;
            align-items: center;
            font-size: 5vw;
            padding: 0.1vw;
            border-radius: 0.4vw 0 0 0.4vw;
            object-fit: cover;
          }
          &__infos {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 0.8vw 0 0.8vw 1vw;
            & h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 2vw;
              padding-bottom: 0.7vw;
            }
            &__description {
              display: flex;
              font-size: 1.15vw;
              padding-bottom: 1.3vw;
            }
            & div {
              display: flex;
              justify-content: space-between;
              border: solid 0.1vw black;
              width: 22%;
              height: 26%;
              border-radius: 1.5vw;
              .btn-left {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 1vw 0 0 1vw;
                font-weight: 600;
                font-size: 2.5vw;
                padding: 0 0.2vw 0.3vw 0;
              }
              .btn-right {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 0 1vw 1vw 0;
                font-weight: 600;
                font-size: 1.6vw;
                padding: 0.1vw 0 0 0.25vw;
              }
              .topics-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                font-weight: 600;
              }
            }
          }
          &__options {
            display: flex;
            width: 17%;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 0.4vw 0.4vw 1.5vw 0;
            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5vw;
              width: 3.5vw;
              & i {
                display: flex;
                font-size: 3vw;
                height: 100%;
                width: 100%;
                padding: 1vw 1vw 0 0;
                align-items: center;
                justify-content: center;
                color: black;
                opacity: 0.55;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 100%;
              color: $txtColor7;
              font-size: 2vw;
            }
          }
        }
      }
      &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 35%;
        border-radius: 0.4vw;

        &__detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          width: 100%;

          &__sous-total {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 1.8vw;
              font-weight: 600;
              & .span1 {
                display: flex;
                padding: 0.5vw 0 0 0.35vw;
                font-size: 0.9vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 1.3vw;
            }
          }
          &__frais-envoi {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 1.9vw;
              font-weight: 600;
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 1.3vw;
            }
          }
          &__total-price {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-items: start;
              width: 75%;
              font-size: 1.9vw;
              font-weight: 600;

              & p {
                display: flex;
                font-size: 1.1vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              align-items: center;
              justify-content: end;
              width: 25%;
              font-size: 1.3vw;
              font-weight: 600;
            }
          }
        }
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 4.5vw;
          border-radius: 0.3vw;
          border: none;
          background-color: $txtColor7;
          color: white;
          font-size: 1.4vw;
          font-weight: 600;
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
    background-color: $bgdColor12;
    .icons-container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding: 1.5vw 0;
      color: white;
      & i {
        display: flex;
        width: 24%;
        font-size: 2vw;
        justify-content: center;
        align-items: center;
      }
      & i:hover {
        color: #399bea;
      }
      & div {
        font-size: 1.8vw;
        font-weight: 200;
        color: $txtColor5;
      }
    }
    .links-container {
      display: flex;
      width: 80%;
      color: $txtColor5;
      font-size: 1.2vw;
      padding: 1vw 0;
      justify-content: center;
      .left-links {
        display: flex;
        align-items: center;
        width: 35%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: $txtColor5;
        font-size: 1.5vw;
      }
      .right-links {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 40%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #navigation-menu {
    display: flex;
    width: 100%;
    height: 7.7vw;
    padding: 0 2vw 0 2vw;
    align-items: center;
    justify-content: space-between;
    background-color: $bgdColor12;
    border-bottom: 0vw solid orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .navlogo {
      display: flex;
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 3.4vw;
      font-weight: 600;
      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.95vw;
        height: 100%;
        padding-right: 1vw;
      }
    }
    .navlogo:hover {
      color: $txtColor5;
      border-radius: 0.2vw;
    }
    .navlist {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      padding-right: 1.75vw;
      & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 0 0 0vw;
        margin: 0 0 0 2.5vw;
        color: white;
        font-weight: 500;
        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.55vw;
        }
      }
      & a:hover {
        color: $txtColor5;
      }
    }
  }

  #navigation-filter {
    display: flex;
    align-items: center;
    height: 3.9vw;
    width: 100%;
    background-color: $bgdColor13;
    position: fixed;
    top: 7.6vw;
    padding: 0 2.5vw;
    left: 0;
    box-shadow: 0 0 0.6vw grey;
    z-index: 3;
    .navfilter {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        text-decoration: none;
        margin: 0 2vw 0 0vw;
        padding: 0 0;
        color: white;
        font-size: 1.55vw;
        font-weight: 700;
        color: black;
        position: relative;
      }

      & a:hover::after {
        content: "";
        display: flex;
        justify-content: center;
        border-bottom: 2px $bgdColor12 solid;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20%;
        left: 0;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 11vw;
    padding-top: 0.85vw;
    position: relative;
    & h1 {
      display: flex;
      width: 67%;
      margin-bottom: 1vw;
    }
    .cart {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 95%;
      &__container {
        display: flex;
        flex-direction: column;
        width: 63%;
        border-radius: 0.4vw;
        & .h2 {
          display: flex;
          align-items: center;
          width: 100%;
          height: 2.7vw;
          padding-left: 2.5vw;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.2vw;
          background-color: $bgdColor13;
          font-size: 1.4vw;
          font-weight: 600;
          margin-bottom: 0.3vw;
        }
        &__topic {
          display: flex;
          width: 100%;
          height: 14vw;
          margin: 0.5vw 0;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.4vw;
          & img {
            display: flex;
            width: 23%;
            justify-content: center;
            align-items: center;
            font-size: 5vw;
            padding: 0.1vw;
            border-radius: 0.4vw 0 0 0.4vw;
            object-fit: cover;
          }
          &__infos {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 0.8vw 0 0.8vw 1vw;
            & h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 2vw;
              padding-bottom: 0.7vw;
              
            }
            &__description {
              display: flex;
              font-size: 1.15vw;
              padding-bottom: 1.3vw;
            }
            & div {
              display: flex;
              justify-content: space-between;
              border: solid 0.1vw black;
              width: 22%;
              height: 26%;
              border-radius: 1.5vw;
              .btn-left {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 1vw 0 0 1vw;
                font-weight: 600;
                font-size: 2.5vw;
                padding: 0 0.2vw 0.3vw 0;
              }
              .btn-right {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 0 1vw 1vw 0;
                font-weight: 600;
                font-size: 1.6vw;
                padding: 0.1vw 0 0 0.25vw;
              }
              .topics-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                font-weight: 600;
              }
            }
          }
          &__options {
            display: flex;
            width: 17%;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 0.4vw 0.4vw 1.5vw 0;
            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5vw;
              width: 3.5vw;
              & i {
                display: flex;
                font-size: 3vw;
                height: 100%;
                width: 100%;
                padding: 1vw 1vw 0 0;
                align-items: center;
                justify-content: center;
                color: black;
                opacity: 0.55;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 100%;
              color: $txtColor7;
              font-size: 2vw;
            }
          }
        }
      }
      &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 35%;
        border-radius: 0.4vw;

        &__detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          width: 100%;

          &__sous-total {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 1.8vw;
              font-weight: 600;
              & .span1 {
                display: flex;
                padding: 0.5vw 0 0 0.35vw;
                font-size: 0.9vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 1.3vw;
            }
          }
          &__frais-envoi {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 1.9vw;
              font-weight: 600;
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 1.3vw;
            }
          }
          &__total-price {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            & h2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-items: start;
              width: 75%;
              font-size: 1.9vw;
              font-weight: 600;

              & p {
                display: flex;
                font-size: 1.1vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              align-items: center;
              justify-content: end;
              width: 25%;
              font-size: 1.3vw;
              font-weight: 600;
            }
          }
        }
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 4.5vw;
          border-radius: 0.3vw;
          border: none;
          background-color: $txtColor7;
          color: white;
          font-size: 1.4vw;
          font-weight: 600;
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
    background-color: $bgdColor12;
    .icons-container {
      display: flex;
      justify-content: space-between;
      width: 95%;
      padding: 1.5vw 0;
      color: white;
      & i {
        display: flex;
        width: 24%;
        font-size: 2.2vw;
        justify-content: center;
        align-items: center;
      }
      & i:hover {
        color: #399bea;
      }
      & div {
        font-size: 2vw;
        font-weight: 200;
        color: $txtColor5;
      }
    }
    .links-container {
      display: flex;
      width: 80%;
      color: $txtColor5;
      font-size: 1.4vw;
      padding: 1vw 0;
      justify-content: center;
      .left-links {
        display: flex;
        align-items: center;
        width: 35%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: $txtColor5;
        font-size: 1.8vw;
      }
      .right-links {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 40%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  #navigation-menu {
    display: flex;
    width: 100%;
    height: 9.7vw;
    padding: 0 1.5vw 0 1.5vw;
    align-items: center;
    justify-content: space-between;
    background-color: $bgdColor12;
    border-bottom: 0vw solid orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .navlogo {
      display: flex;
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 4.5vw;
      font-weight: 600;
      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        height: 100%;
        padding-right: 1vw;
      }
    }
    .navlogo:hover {
      color: $txtColor5;
      border-radius: 0.2vw;
    }
    .navlist {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      padding-right: 1.75vw;
      & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 0 0 0vw;
        margin: 0 0 0 2.5vw;
        color: white;
        font-weight: 500;
        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3.5vw;
        }
      }
      & a:hover {
        color: $txtColor5;
      }
    }
  }

  #navigation-filter {
    display: flex;
    align-items: center;
    height: 4.9vw;
    width: 100%;
    background-color: $bgdColor13;
    position: fixed;
    top: 9.6vw;
    padding: 0 2.3vw;
    left: 0;
    box-shadow: 0 0 0.6vw grey;
    z-index: 3;
    .navfilter {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        text-decoration: none;
        margin: 0 2vw 0 0vw;
        padding: 0 0;
        color: white;
        font-size: 1.95vw;
        font-weight: 700;
        color: black;
        position: relative;
      }
      & a:hover::after {
        content: "";
        display: flex;
        justify-content: center;
        border-bottom: 2px $bgdColor12 solid;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20%;
        left: 0;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 14vw;
    padding-top: 0.85vw;
    position: relative;
    & h1 {
      display: flex;
      width: 67%;
      margin-bottom: 1vw;
    }
    .cart {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 95%;
      &__container {
        display: flex;
        flex-direction: column;
        width: 63%;
        border-radius: 0.4vw;
        & .h2 {
          display: flex;
          align-items: center;
          width: 100%;
          height: 4vw;
          padding-left: 2.5vw;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.2vw;
          background-color: $bgdColor13;
          font-size: 2vw;
          font-weight: 600;
          margin-bottom: 1vw;
        }
        &__topic {
          display: flex;
          width: 100%;
          height: 18vw;
          margin: 0.9vw 0;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.4vw;
          & img {
            display: flex;
            width: 23%;
            justify-content: center;
            align-items: center;
            font-size: 5vw;
            padding: 0.1vw;
            border-radius: 0.4vw 0 0 0.4vw;
            object-fit: cover;
          }
          &__infos {
            display: flex;
            flex-direction: column;
            width: 58%;
            padding: 0.8vw 0 0.8vw 1vw;
            & h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 2.5vw;
              padding-bottom: 0.7vw;
            }
            &__description {
              display: flex;
              font-size: 1.35vw;
              padding-bottom: 1.5vw;
            }
            & div {
              display: flex;
              justify-content: space-between;
              border: solid 0.1vw black;
              width: 30%;
              height: 27%;
              border-radius: 1.5vw;
              .btn-left {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 1vw 0 0 1vw;
                font-weight: 600;
                font-size: 2.5vw;
                padding: 0 0.2vw 0.3vw 0;
              }
              .btn-right {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 0 1vw 1vw 0;
                font-weight: 600;
                font-size: 1.6vw;
                padding: 0.1vw 0 0 0.25vw;
              }
              .topics-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                font-weight: 600;
              }
            }
          }
          &__options {
            display: flex;
            width: 18%;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 0.4vw 0vw 1.5vw 0;
            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5vw;
              width: 3.5vw;
              & i {
                display: flex;
                font-size: 3.6vw;
                height: 100%;
                width: 100%;
                padding: 1.1vw 1.1vw 0 0;
                align-items: center;
                justify-content: center;
                color: black;
                opacity: 0.55;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 100%;
              color: $txtColor7;
              font-size: 2.1vw;
            }
          }
        }
      }
      &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 35%;
        border-radius: 0.4vw;

        &__detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          width: 100%;

          &__sous-total {
            display: flex;
            width: 100%;
            margin-bottom: 3vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 2.4vw;
              font-weight: 600;
              & .span1 {
                display: flex;
                padding: 0.5vw 0 0 0.35vw;
                font-size: 1vw;
                font-weight: 200;
                visibility: hidden;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 1.5vw;
            }
          }
          &__frais-envoi {
            display: flex;
            width: 100%;
            margin-bottom: 3vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 2.5vw;
              font-weight: 600;
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 1.6vw;
            }
          }
          &__total-price {
            display: flex;
            width: 100%;
            margin-bottom: 4vw;
            & h2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-items: start;
              width: 75%;
              font-size: 2.5vw;
              font-weight: 600;

              & p {
                display: flex;
                font-size: 1.4vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              align-items: center;
              justify-content: end;
              width: 25%;
              font-size: 1.5vw;
              font-weight: 600;
            }
          }
        }
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 6vw;
          border-radius: 0.3vw;
          border: none;
          background-color: $txtColor7;
          color: white;
          font-size: 1.8vw;
          font-weight: 600;
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
    background-color: $bgdColor12;
    .icons-container {
      display: flex;
      justify-content: space-between;
      width: 95%;
      padding: 2vw 0;
      color: white;
      & i {
        display: flex;
        width: 24%;
        font-size: 2.8vw;
        justify-content: center;
        align-items: center;
      }
      & i:hover {
        color: #399bea;
      }
      & div {
        font-size: 2.5vw;
        font-weight: 200;
        color: $txtColor5;
      }
    }
    .links-container {
      display: flex;
      width: 80%;
      color: $txtColor5;
      font-size: 1.8vw;
      padding: 1vw 0;
      justify-content: center;
      .left-links {
        display: flex;
        align-items: center;
        width: 35%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: $txtColor5;
        font-size: 2.4vw;
      }
      .right-links {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 40%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
}

@media all and (max-width: 575px) {
  #navigation-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vw;
    padding: 0 0vw 0 0vw;
    align-items: center;
    background-color: $bgdColor12;
    border-bottom: 0vw solid orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .navlogo {
      display: flex;
      height: 50%;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      font-size: 8vw;
      font-weight: 600;
      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7.5vw;
        height: 100%;
        padding-right: 1vw;
      }
    }
    .navlogo:hover {
      color: $txtColor5;
      border-radius: 0.2vw;
    }
    .navlist {
      display: flex;
      width: 85%;
      justify-content: space-between;
      align-items: center;
      height: 50%;
      list-style: none;
      padding-right: 1.75vw;
      & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 0 0 0vw;
        margin: 0 0 0 2.5vw;
        color: white;
        font-size: 1.1vw;
        font-weight: 500;
        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 6.5vw;
        }
      }
      & a:hover {
        color: $txtColor5;
      }
    }
  }

  #navigation-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.5vw;
    width: 100%;
    background-color: $bgdColor13;
    position: fixed;
    top: 25vw;
    padding: 0 0vw;
    left: 0;
    box-shadow: 0 0 0.6vw grey;
    z-index: 3;
    .navfilter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 85%;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
        text-decoration: none;
        margin: 0 0vw 0 0vw;
        padding: 0 0;
        color: white;
        font-size: 3.7vw;
        font-weight: 700;
        color: black;
        position: relative;
      }
      & a:hover::after {
        content: "";
        display: flex;
        justify-content: center;
        border-bottom: 2px $bgdColor12 solid;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20%;
        left: 0;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 34vw;
    padding-top: 0.85vw;
    position: relative;
    & h1 {
      display: flex;
      width: 67%;
      margin-bottom: 1vw;
    }
    .cart {
      display: flex;
      flex-direction: column;
      width: 92%;
      &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0.4vw;
        margin-bottom: 5vw;
        & .h2 {
          display: flex;
          align-items: center;
          width: 100%;
          height: 9vw;
          padding-left: 2.5vw;
          box-shadow: 0 0 0.1vw gray;
          border-radius: 0.2vw;
          background-color: $bgdColor13;
          font-size: 3.5vw;
          font-weight: 600;
          margin-bottom: 1vw;
        }
        &__topic {
          display: flex;
          width: 100%;
          height: 26vw;
          margin: 1vw 0;
          box-shadow: 0 0 0.4vw gray;
          border-radius: 0.4vw;
          & img {
            display: flex;
            width: 25%;
            justify-content: center;
            align-items: center;
            font-size: 5vw;
            padding: 0.1vw;
            border-radius: 0.4vw 0 0 0.4vw;
            object-fit: cover;
          }
          &__infos {
            display: flex;
            flex-direction: column;
            width: 55%;
            padding: 0.8vw 0 0.8vw 1vw;
            & h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 4vw;
              padding-bottom: 1.2vw;
            }
            &__description {
              display: flex;
              font-size: 2.2vw;
              padding-bottom: 2vw;
            }
            & div {
              display: flex;
              justify-content: space-between;
              border: solid 0.1vw black;
              width: 40%;
              height: 30%;
              border-radius: 1.5vw;
              .btn-left {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 1vw 0 0 1vw;
                font-weight: 600;
                font-size: 7vw;
                padding: 0 1.5vw 0.3vw 0;
              }
              .btn-right {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 35%;
                border: none;
                background: none;
                border-radius: 0 1vw 1vw 0;
                font-weight: 600;
                font-size: 5vw;
                padding: 0.1vw 0 0 1vw;
              }
              .topics-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                font-weight: 600;
              }
            }
          }
          &__options {
            display: flex;
            width: 18%;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 0.4vw 0vw 1.5vw 0;
            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5vw;
              width: 3.5vw;
              & i {
                display: flex;
                font-size: 5vw;
                height: 100%;
                width: 100%;
                padding: 5vw 1.3vw 0 0;
                align-items: center;
                justify-content: center;
                color: black;
                opacity: 0.55;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 100%;
              color: $txtColor7;
              font-size: 3.3vw;
            }
          }
        }
      }
      &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        border-radius: 0.4vw;

        &__detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          width: 100%;

          &__sous-total {
            display: flex;
            width: 100%;
            margin-bottom: 4vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 4.5vw;
              font-weight: 600;
              & .span1 {
                display: flex;
                padding: 0.5vw 0 0 0.35vw;
                font-size: 2.8vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 4vw;
            }
          }
          &__frais-envoi {
            display: flex;
            width: 100%;
            margin-bottom: 4vw;
            & h2 {
              display: flex;
              align-items: center;
              width: 75%;
              font-size: 4.5vw;
              font-weight: 600;
            }
            & h3 {
              display: flex;
              justify-content: end;
              width: 25%;
              align-items: center;
              font-size: 4vw;
            }
          }
          &__total-price {
            display: flex;
            width: 100%;
            margin-bottom: 6vw;
            & h2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-items: start;
              width: 75%;
              font-size: 4.5vw;
              font-weight: 600;

              & p {
                display: flex;
                font-size: 2.8vw;
                font-weight: 200;
              }
            }
            & h3 {
              display: flex;
              align-items: center;
              justify-content: end;
              width: 25%;
              font-size: 4vw;
              font-weight: 600;
            }
          }
        }
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 14vw;
          border-radius: 0.3vw;
          border: none;
          background-color: $txtColor7;
          color: white;
          font-size: 4.5vw;
          font-weight: 600;
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
    background-color: $bgdColor12;
    .icons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 6vw 0;
      color: white;
      & i {
        display: flex;
        width: 24%;
        font-size: 5.5vw;
        justify-content: center;
        align-items: center;
      }
      & i:hover {
        color: #399bea;
      }
      & div {
        font-size: 4vw;
        font-weight: 200;
        color: $txtColor5;
      }
    }
    .links-container {
      display: flex;
      width: 90%;
      color: $txtColor5;
      font-size: 2.2vw;
      padding: 2.5vw 0;
      justify-content: center;
      .left-links {
        display: flex;
        align-items: center;
        width: 35%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: $txtColor5;
        font-size: 3.5vw;
      }
      .right-links {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 40%;
        list-style-type: none;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
}
