#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2vw;
  background-color: $bgdColor12;
  .icons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6vw 0;
    color: white;
    & i {
      display: flex;
      width: 24%;
      font-size: 5.5vw;
      justify-content: center;
      align-items: center;
    }
    & i:hover {
      color: #399bea;
    }
    & div {
      font-size: 4vw;
      font-weight: 200;
      color: $txtColor5;
    }
  }
  .links-container {
    display: flex;
    width: 90%;
    color: $txtColor5;
    font-size: 2.2vw;
    padding: 2.5vw 0;
    justify-content: center;
    .left-links {
      display: flex;
      align-items: center;
      width: 35%;
      list-style-type: none;
      & li {
        margin-right: 1.6vw;
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      color: $txtColor5;
      font-size: 3.5vw;
    }
    .right-links {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 40%;
      list-style-type: none;
      & li {
        margin-right: 1.6vw;
      }
    }
  }
  @media all and (min-width: 576px) {
    margin-top: 2vw;
    .icons-container {
      width: 95%;
      padding: 2vw 0;
      & i {
        width: 24%;
        font-size: 2.8vw;
      }
      & div {
        font-size: 2.5vw;
      }
    }
    .links-container {
      width: 80%;
      font-size: 1.8vw;
      padding: 1vw 0;
      .left-links {
        width: 35%;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        width: 25%;
        font-size: 2.4vw;
      }
      .right-links {
        width: 40%;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
  @media all and (min-width: 768px) {
    margin-top: 2vw;
    .icons-container {
      padding: 1.5vw 0;
      & i {
        width: 24%;
        font-size: 2.2vw;
      }
      & div {
        font-size: 2vw;
      }
    }
    .links-container {
      width: 80%;
      font-size: 1.4vw;
      padding: 1vw 0;
      .left-links {
        width: 35%;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        width: 25%;
        font-size: 1.8vw;
      }
      .right-links {
        width: 40%;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
  @media all and (min-width: 992px) {
    width: 100%;
    margin-top: 2vw;
    .icons-container {
      width: 90%;
      padding: 1.5vw 0;
      & i {
        width: 24%;
        font-size: 2vw;
      }
      & div {
        font-size: 1.8vw;
      }
    }
    .links-container {
      width: 80%;
      font-size: 1.2vw;
      padding: 1vw 0;
      .left-links {
        width: 35%;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        width: 25%;
        font-size: 1.5vw;
      }
      .right-links {
        width: 40%;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
  @media all and (min-width: 1200px) {
    margin-top: 3vw;
    .icons-container {
      width: 67%;
      padding: 1.5vw 0;
      & i {
        width: 24%;
        font-size: 1.6vw;
      }
      & div {
        font-size: 1.5vw;
      }
    }
    .links-container {
      width: 63%;
      font-size: 1vw;
      padding: 1vw 0;
      .left-links {
        width: 35%;
        & li {
          margin-right: 1.6vw;
        }
      }
      .logo {
        width: 25%;
        font-size: 1.3vw;
      }
      .right-links {
        width: 40%;
        & li {
          margin-right: 1.6vw;
        }
      }
    }
  }
}
