#navigation-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25vw;
  padding: 0 0vw 0 0vw;
  align-items: center;
  background-color: $bgdColor12;
  border-bottom: 0vw solid orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  .navlogo {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 8vw;
    font-weight: 600;
    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7.5vw;
      height: 100%;
      padding-right: 1vw;
    }
  }
  .navlogo:hover {
    color: $txtColor5;
    border-radius: 0.2vw;
  }
  .navlist {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    list-style: none;
    padding-right: 1.75vw;
    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 0 0 0vw;
      margin: 0 0 0 2.5vw;
      color: white;
      font-size: 1.1vw;
      font-weight: 500;
      & i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6.5vw;
      }
    }
    & a:hover {
      color: $txtColor5;
    }
  }
  @media all and (min-width: 576px) {
    flex-direction: row;
    padding: 0 5vw;
    height: 10vw;
    .navlogo {
      width: 50%;
      font-size: 4.5vw;
      justify-content: flex-start;
      & i {
        font-size: 4.5vw;
        padding-right: 1vw;
      }
    }
    .navlogo:hover {
      border-radius: 0.2vw;
    }
    .navlist {
      justify-content: flex-end;
      width: 50%;
      height: 50%;
      padding-right: 1.75vw;
      & a {
        padding: 0 0 0 0vw;
        margin: 0 0 0 3.5vw;
        & i {
          font-size: 3.5vw;
        }
      }
    }
  }
  @media all and (min-width: 1200px) {
    padding: 0 17vw;
    height: 5.5vw;
    .navlogo {
      width: 50%;
      font-size: 2.5vw;
      & i {
        font-size: 2.5vw;
        padding-right: 1vw;
      }
    }
    .navlogo:hover {
      border-radius: 0.2vw;
    }
    .navlist {
      justify-content: flex-end;
      width: 50%;
      height: 50%;
      padding-right: 1.75vw;
      & a {
        padding: 0 0 0 0vw;
        margin: 0 0 0 2vw;
        & i {
          font-size: 1.6vw;
        }
      }
    }
  }
}

#navigation-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.5vw;
  width: 100%;
  background-color: $bgdColor13;
  position: fixed;
  top: 25vw;
  padding: 0 0vw;
  left: 0;
  box-shadow: 0 0 0.6vw grey;
  z-index: 3;
  .navfilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 85%;
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 30%;
      text-decoration: none;
      margin: 0 0vw 0 0vw;
      padding: 0 0;
      color: white;
      font-size: 3.7vw;
      font-weight: 700;
      color: black;
      position: relative;
    }
    a:hover {
      border-bottom: 0.8vw solid $bgdColor12;
    }
  }
  @media all and (min-width: 576px) {
    height: 5vw;
    width: 100%;
    top: 10vw;
    box-shadow: 0 0 0.6vw grey;
    z-index: 3;
    .navfilter {
      width: 90%;
      justify-content: flex-start;

      & a {
        width: 18%;
        font-size: 2.1vw;
        margin: 0;
      }
      a:hover {
        border-bottom: 0.5vw solid $bgdColor12;
      }
    }
  }
  @media all and (min-width: 1200px) {
    height: 2.5vw;
    width: 100%;
    top: 5.5vw;
    box-shadow: 0 0 0.6vw grey;
    .navfilter {
      width: 65%;
      justify-content: flex-start;
      & a {
        width: 12%;
        font-size: 0.9vw;
        margin: 0;
      }
      a:hover {
        border-bottom: 0.25vw solid $bgdColor12;
      }
    }
  }
}
